#root {
  font-family: $font-roboto-dark;
}

button {
  font-family: inherit;
  color: $light-grey;
  cursor: pointer;
}

input,
button,
textarea,
select {
  outline: none;
}

select {
  cursor: pointer;
}
