$light-blue: #c6def1;
$light-purplish-pink: #f2c6de;
$light-orange: #f7d9c4;
$white: #ffffff;
$light-purple: #dbcdf0;
$light-grey: #a2a2a2;

$font-palanquin-dark: "Palanquin Dark", sans-serif;

$screen-sm-min: 576px;
$screen-md-min: 768px;
