@media (max-width: 760px) {
    .header {
        margin: 10px;
        max-width: 100%;
    }
    
    .container {
        margin: 10px;
    }
}

@media (max-width: 700px) {
    
    .header {
        max-width: 100%;
    }
    
    .column-todo {
        flex: 0 1 80%;
        margin-bottom: 10px;
    }
    
    .column-progress {
        flex: 0 1 80%;
        margin-bottom: 10px;
    }
    
    .column-done {
        flex: 0 1 80%;
    }

    .container{
        flex-wrap: wrap;
    }
}