.card__row-btn {
	font-family: $font-palanquin-dark;
	font-weight: 400;
	font-size: 13px;
	color: $light-grey;
	background: $white;
	border: solid 0.1px;
	border-radius: 8px;
	cursor: pointer;
}

.column__btn-add,
.column__btn-delete-all {
	margin-top: 10px;
	font-family: $font-palanquin-dark;
	font-size: 20px;
	font-weight: 500;
	color: $light-grey;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.column__btn-add {
	background: $light-blue;
}

.column__btn-delete-all {
	background-color: $light-orange;
}
