.btn-edit,
.btn-delete,
.btn-arrow,
.btn-back,
.btn-complete {
	font-weight: 400;
	font-size: 13px;
	color: $lightGrey;
	background: $white;
	border: solid 0.1px;
	border-radius: 8px;
	cursor: pointer;
}

.btn-add,
.btn-delete-all {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 500;
	color: rgba(100, 81, 81, 0.568);
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.btn-add {
	background: $lightBlue;
}

.btn-delete-all {
	background-color: $lightOrange;
}
