.card {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin-top: 10px;
	border-radius: 15px;
}

.card-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10px;

	&__title,
	&__description,
	&__user {
		padding: 2px 5px;
		box-sizing: border-box;
		cursor: pointer;
	}
}
