.card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  border-radius: 15px;

  &--blue {
    background-color: $light-blue;
  }
  &--pink {
    background-color: $light-purplish-pink;
  }
  &--orange {
    background-color: $light-orange;
  }
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;

  &--center {
    justify-content: space-around;
  }

  &-title,
  &-description,
  &-user {
    width: 130px;
    height: 25px;
    padding: 2px 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &-description,
  &-user {
    width: 200px;
    height: 25px;
    text-overflow: ellipsis;
  }
}
.card__content-hidden {
  position: absolute;
  left: 500px;
  opacity: 0;
}

.card__input {
  width: 120px;
  outline: none;
}
