.container {
	display: flex;
	justify-content: space-around;
	max-width: 750px;
	margin: 0 auto;

	@include _760 {
		margin: 10px;
	}

	@include _700 {
		flex-wrap: wrap;
	}
}

.column {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.column-todo {
	.column__title {
		background-color: $lightBlue;
	}

	.column__card {
		background-color: $lightBlue;
	}

	@include _700 {
		flex: 0 1 80%;
        margin-bottom: 10px;
	}
}

.column-progress {
	.column__title {
		background-color: $lightPurplishPink;
	}

	.column__card {
		background-color: $lightPurplishPink;
	}

	@include _700 {
		flex: 0 1 80%;
        margin-bottom: 10px;
	}
}

.column-done {
	.column__title {
		background-color: $lightOrange;
	}

	.column__card {
		background-color: $lightOrange;
	}

	@include _700 {
		flex: 0 1 80%;
	}
}

.column__title {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: $grey;
	text-transform: uppercase;
}
