.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 10px auto;
  background: $light-purple;
  border-radius: 10px;

  @include sm {
    flex: 0 1 100%;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 7px;
    font-size: 30px;
    font-weight: 400;
    color: $white;
  }

  &__time {
    margin-right: 15px;
    font-size: 25px;
    color: $white;
  }

  &__btn {
    margin-left: 3px;
    font-weight: 400;
    font-size: 13px;
    background: #ffffff;
    border: solid 0.1px;
    border-radius: 8px;
  }
}
