.column-card button {
    background: #fff;
    border: none; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: rgba(100, 81, 81, 0.568);;
    font-weight: 700;
}

.add_todo, .delete_all {
    font-size: 20px;
    font-weight: 700;
	color: rgba(100, 81, 81, 0.568);
    background: rgb(213, 255, 241);
    border: none; 
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}