.column-card {
    padding: 5px;
    margin-top: 10px;
    border: solid 0.5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-title, .card-description, .card-user {
    padding: 2px 5px;
	box-sizing: border-box;
	cursor: pointer;
}